- title "Test"
%p
  %strong Name:
  = @test.name
%p
  %strong Number:
  = @test.number
%p
  = link_to "Edit", edit_test_path(@test)
  =link_to "Destroy", @test, :confirm => 'Are you sure?', :method => :delete 
  =link_to "View All", tests_path
